*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(223, 226, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container{
    background-color: white;
    height: 80vh;
    width: 80vw;
    border-radius: 15px;
    margin: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.button{
    background-color: rgb(223, 226, 56);
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

#divTable{
    margin: 15px;
}

table{
    margin: auto;
    border: solid 2px rgba(0, 0, 0, 0.568);
}

th{
    border: solid 2px rgba(0, 0, 0, 0.568);
    border-radius: 5px;
}

td{
    margin: auto;
    text-align: center;
    width: 100px;
}

.divForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}

.divForm label{
    font-size: 14px;
    width: 100%;
}

.divForm input{
    width: 100%;
  outline: none;
  padding: 5px 10px; 
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.divForm button {
    width: 50%;
    margin:auto;
    outline: none;
    border-radius: 15px; 
    padding: 5px 10px; 
    width: 50%;
    border: none;
    background-color: rgb(223, 226, 56);
    color: rgb(163, 163, 163);
  }

.divForm.visible{
    display: block;
}